body {
    background-color: white;
}

* {
    font-family: '微软雅黑';
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: '微软雅黑' !important;
}

a {
    color: #000 !important;
    outline: none;
}
a:hover {
    color: #FF552E !important;
}

#topMenu {
    font-size: 0.75rem;
    z-index: 555;
}

    #topMenu a {
        padding: 0.7rem 0.5rem;
        text-transform: uppercase;
    }

       
 #navMenu {
    border-bottom: 1px solid #cccccc;
    background-color: #ff6700 !important;
    box-shadow: 0 0 5PX #cccccc;
}
.title-bar{
    background-color: #ff6700 !important;
}
     #navMenu .top-bar {
        background-color: #ff6700;
        padding:0;
    } 

#mainNavigation {
    position: relative;
    font-size: 1.01rem;
}

 #navMenu .menu {
    background-color: #ff6700 !important;
    color: #000;
}    

#navMenu a {
    color: #fff !important;
}

#navMenu li:hover {
    background: red;
}
#mainNavigation li{ height: 43px;}
/* .top-bar {
    padding: 0;
} */

h5 {
    font-weight: bold;
}

.tabs-title > a {
    font-size: 0.95rem;
}
.orbit-previous{
    background:url(../img/prev.png);height: 50px;background-position:-20px 0px;background-repeat: no-repeat;
}
.orbit-next{
    background:url(../img/next.png);height: 50px;background-position:0px 0px;background-repeat: no-repeat;
}

.tabs {
  border-width: 0 0 1px 0;
  border-color: #ff6700;
  margin-top: 5px;
}

.tabs-title>a:focus,
.tabs-title>a[aria-selected="true"] {
  background-color: #ff6700;
  color: white !important;
}

table {
  font-size: 0.95rem;
}

.tabs-title>a {
  padding: 0.5rem 1rem;
}

.orbit-image {
  min-height: 240px;
}

.orbit-bullets {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 40%;
}

.orbit-bullets button {
  width: 0.8rem;
  height: 0.8rem;
}

.callout a {
  font-size: 0.85rem;
}

.callout img {
  transition: all 0.5s ease 0s;
  min-height: 180px;
}

.callout img:hover {
  transform: scale(1.1);

}

.listContent {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.hollow{
    margin-right: 1rem;margin-top:-1rem;
    transition: all ease 0.5s !important;
    padding: 0.50rem 0.75rem;
    font-size:0.75rem;
} 
.hollow:hover{
  border-color:#ff6700 !important;

}
.grid-x{
    margin-top: 0.5rem;
}
footer{
    background-color:#1d1d1d; 
    width: 100%;color:white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top:1.5rem;
}
.stat{font-size:1.5rem !important;}
.media-object-section {
    color: #333;
}
.media-object-section div{
    padding: .1rem 0;
    color:#777;
}
.Img150110{
 height:auto;
 width: 170px;
}
.baseinfo{
    margin-bottom:13px;line-height:14px;
}
.MoveIcon{
    -webkit-animation: nprogress-spinner 700ms linear infinite;
          animation: nprogress-spinner 700ms linear infinite;
}
@-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .serchspan{
      display: inline-block;
      color:white;
      margin-right: 5px;

  }
  #searchAdviceDiv{
    position:absolute;
    top:0;width: 100%;
    height: 35px;z-index: 333;
    padding: 8px 15px;      font-size:.75rem;
    display: none;
  }
  
  .btnSearch{
    text-align:center;background-color:#FF552E;line-height: 36px;height:36px;color:white;
    cursor: pointer;
  }