<script src="{{root}}assets/js/app.js"></script>
<script src="{{root}}assets/js/single-js/Master.js"></script>
<script src="{{root}}assets/js/single-js/nprogress.js"></script>


<div style="border-top:1px solid #ccc;border-bottom:1px solid #ccc;background: #f8f8f8;">
  <div class="grid-container" style="margin-top:-0.55rem;">
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell small-3">
        <ul class="menu align-left " id="topMenu">
          <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> 首页</a></li>
        </ul>
      </div>
      <div class="medium-6 cell small-9">
        <ul class="menu align-right" id="topMenu">
          <li><a href="http://web.tool8.cc/JXFC/login.html" target="_blank"><i class="fa fa-user-o"></i> 登录 / <i class="fa fa-sign-in"></i>
              注册</a></li>
          <li><a href="http://web.tool8.cc/JXFC/index.html" target="_blank">个人中心</a></li>
          <li><a href="#" target="_blank">帮助中心</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>