<!-- Start Top Bar -->
<div id="navMenu" data-margin-top="0">
  <div class="grid-container">
    <div class="medium-68 cell">
      <div class="title-bar" data-responsive-toggle="mainNavigation" data-hide-for="medium">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-toggle="mainNavigation"></button>
          <div class="title-bar-title">杨凌之家</div>
        </div>
        <div class="title-bar-right">
       
        </div>
      </div>
      <div class="top-bar" id="mainNavigation">
        <div class="top-bar-left">
          <ul class="menu vertical medium-horizontal">
            <!-- <li class="menu-text hide-for-small-only">Marketing Site</li> -->
            <li><a href="#">房产交易</a></li>
            <li><a href="#">二手交易</a></li>
            <li><a href="#">车辆买卖</a></li>
            <li><a href="#">生活服务</a></li>
            <li><a href="#">交通出行</a></li>
            <li><a href="#">新闻资讯</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Top Bar -->