<div id="navMenu" data-margin-top="0">
    <div class="grid-container">
      <div class="medium-68 cell">
        <div class="top-bar" id="mainNavigation" class="sticky" data-sticky data-margin-top="0">
          <div class="top-bar-left">
            <ul class="menu vertical medium-horizontal">
              <li><a href="#">房产交易</a></li>
              <li><a href="#">二手交易</a></li>
              <li><a href="#">车辆买卖</a></li>
              <li><a href="#">生活服务</a></li>
              <li><a href="#">交通出行</a></li>
              <li><a href="#">新闻资讯</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
