<style>
#search{
  font-size: 0.75rem;
}
.QRCode{
  transition: all 0.5s;
  cursor: pointer;
}
.QRCode:hover{
   transform: scale(1.5)
}
</style>
<div class="grid-container ">
  <div class="grid-x grid-margin-x" >
    <div class="medium-3 cell show-for-medium" onclick="window.location.href='index.html'" style="background:url(assets/img/logo.jpg);background-size:170px;background-repeat: no-repeat;background-position: -17px;cursor: pointer;">
    </div>
    <div class="medium-7 cell small-9">
      <div class="grid-x" style="border:2px solid #FF552E;height: 40px;">
        <div class="cell medium-10 small-9" style="position:relative;">
          <input type="text" style="border:0;height:35px;" id="search"  >
       
        </div>
        <div class="cell medium-2 small-3" id="btnSearch" onclick="Search();return false;" style="text-align:center;background-color:#FF552E;height:36px;line-height: 36px;color:white;cursor: pointer;">
          <i class="fa  fa-search"></i> 搜房源
        </div>
      </div>
    </div>
    <div class="medium-2 cell small-3" style="text-align:right">
       <img src="assets/img/QRCode.png" style="height:70px;" class="QRCode">
    </div>
  </div>
</div>
<br>
<script>
document.onkeydown = function (e) {
            if (!e) e = window.event;
            if ((e.keyCode || e.which) == 13) {
              Search();
            }
        }
function Search(){
  window.location.href="MoreInfos.html?Type=&SearchText="+$('#search').val()||$('#search2').val();
}
</script>


