<div class="grid-container show-for-medium">
  <div class="grid-x grid-margin-x">
    <div class="medium-3 cell small-4" style="background:url(assets/img/logo.jpg);background-size:170px;background-repeat: no-repeat;background-position: -17px;">
    </div>
    <div class="medium-7 cell small-8">
      <div class="grid-x" style="border:2px solid #FF552E;height: 40px;">
        <div class="cell medium-10 small-9">
          <input type="text" style="border:0;height:35px;">
        </div>
        <div class="cell medium-2 small-3" style="text-align:center;background-color:#FF552E;line-height: 36px;color:white;">
          <i class="fa   fa-search"></i> 搜房源
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container hide-for-medium">
    <div class="grid-x" style="border:2px solid #FF552E;height: 40px;">
        <div class="cell medium-10 small-9">
          <input type="text" style="border:0;height:35px;">
        </div>
        <div class="cell medium-2 small-3" style="text-align:center;background-color:#FF552E;height:36px;line-height: 36px;color:white;">
          <i class="fa   fa-search"></i> 搜房源
        </div>
      </div>
</div>

