{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>

<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>杨凌二手房买卖,杨凌二手租赁-杨凌之家</title>
  <meta name="keywords" content="杨凌二手房买卖,杨凌二手租赁,杨凌二手房中介担保,杨凌二手房消息发布">
  <meta name="description" content="杨凌之家网站是一家杨凌二手房交易/租赁消息分享为主的专业网站，同时也提供了。二手房买卖，房屋租赁：房屋中介担保、房屋消息发布、我们有专业的团队，24小时1对1为您服务的经纪人，保证您在交易的过程中权益最大化,您的认可是我们服务的宗旨.">
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
  <link rel="stylesheet" href="{{root}}assets/css/font-awesome.css">
  <link rel="stylesheet" href="{{root}}assets/css/nprogress.css">
  <link rel="stylesheet" href="{{root}}assets/css/main.css">

</head>

<body >
  {{> main-nav}}<br>
  {{> search}}
   {{> sub-nav}}
   {{> GoToTop}}
  <div  id="Body">{{> body}}</div>
  {{> footer}}
  <script>
    $(function(){
      $('#Body').css('min-height',$(window).height()-$('#topMenu').height()-170);
    });
 </script>
</body>

</html>